<!--
<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="cont_principal">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="$parent.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="$parent.password">
            </label>
        </div>

        <div>
            <button class="button button-block button-positive" ng-click="attemptLogin()">Login</button>
            <button class="button button-block button-positive" ng-click="attemptCreateUser()">Sign Up</button>
        </div>
    </ion-content>
</ion-view>
--->
<div class="cont_principal">

  <div class="cont_centrar">
    <div class="cont_login">
      <form action="">
        <div class="cont_tabs_login">
          <ul class='ul_tabs'>
            <li class="active"><a href="#" onclick="sign_in()">SIGN IN</a>
              <span class="linea_bajo_nom"></span>
            </li>
            <li><a href="#up" onclick="sign_up()">SIGN UP</a><span class="linea_bajo_nom"></span>
            </li>
          </ul>
        </div>
        <div class="cont_text_inputs">
          <input type="text" class="input_form_sign " placeholder="NAME" name="name_us" />

          <input type="text" class="input_form_sign d_block active_inp" placeholder="EMAIL" name="emauil_us"  ng-model="$parent.email"/>

          <input type="password" class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name="pass_us" ng-model="$parent.password" />

        </div>
        <div class="cont_btn">
          <button class="btn_sign" ng-click="attemptLogin()">Login</button>

        </div>

      </form>
    </div>

  </div>


</div>
