<ion-view view-title="My Posts">
  <ion-content>
    <div>
      <label>
        <button style="" class="btn btn-small" ng-click="backHome()">Back Home</button>

      </label>
      <label>
        <button style="float: right" class="btn btn-small" ng-click="newPost()">New Post</button>
      </label>
    </div>

    <div class="" ng-show="!noPost">
    <!--TODO: display cards -->
      <div class="cards-bg social-cards">
         <div ng-repeat="post in myPosts track by $index" id="myPost">
           <ion-card class="post">

             <ion-card-content class="item">
               <div class="post">
                 <h2> @{{ post.city }}, {{post.state}} </h2>
                 <p> {{post.startDate}} - {{post.endDate}}  </p>
               </div>
               <p id="purpose">I'm looking for {{pets}}!</p>
               <p id="pets">I wanna be a {{purpose}}!</p>
               <p id="messsage">Notes: {{post.message}} </p>
               <ion-row align="center">
                 <ion-col>
                   <ion-toggle item-right style="position: relative; height: 100%; width: 100%" ion-color="dark" ng-model=post.active ng-change="disable(post)">Disable</ion-toggle>
                 </ion-col>
                 <ion-col>
                   <button style="width: 100%" class="btn btn-delete" ng-click="deletePost(post)">Delete</button>
                 </ion-col>
               </ion-row>
             </ion-card-content>



           </ion-card>
         </div>

      </div>
    </div>

    <div ng-show="noPost">
      <h3>You have no post right now...</h3>
    </div>



      <!--<ion-card>-->
        <!--&lt;!&ndash; first item &ndash;&gt;-->
        <!--<ion-item align="center">-->
          <!--<ion-avatar item-left>-->
            <!--<img src="http://tva4.sinaimg.cn/crop.0.0.639.639.180/905accf5jw8f37pd22o8dj20hs0hrq3q.jpg">-->
          <!--</ion-avatar>-->
          <!--<h2>Puppy {{ user.firstName }} {{user.lastName}}</h2>-->
          <!--<p> @Madison {{ user.city }}</p>-->
        <!--</ion-item>-->

        <!--&lt;!&ndash; card content&ndash;&gt;-->
        <!--<ion-card-content>-->
          <!--&lt;!&ndash;<img class="full-image" src="my-image.png">&ndash;&gt;-->
          <!--<p>additional message here... {{ blogMessages }}</p>-->
        <!--</ion-card-content>-->

      <!--</ion-card>-->

      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<ion-note left text-left>-->
            <!--Rate: {{user.rating}}/5-->
          <!--</ion-note>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<button ion-button icon-left clear small>-->
            <!--<ion-icon name="text"></ion-icon>-->
            <!--<div>4 Comments</div>-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col center text-center>-->
          <!--<ion-note>-->
            <!--{{ date }}-->
          <!--</ion-note>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</div>-->
    <!--</div>-->


  </ion-content>
</ion-view>
