<ion-view view-title="Account">
  <ion-content class="padding" style="text-align: center">
    <div class="list">
      <h4> Edit Personal Profile </h4>
      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="firstName" id="firstName-textarea" ng-model="$parent.firstName" placeholder="Your first name">
        </label>
      </div>


      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="lastName" id="lastName-textarea" ng-model="$parent.lastName" placeholder="Your last name">
        </label>
      </div>

      <div aligh="left">
        <label class="item">Your login email: {{email}}</label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="phone" id="phone-textarea" ng-model="$parent.phone" placeholder="Your phone number">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="city" id="city-textarea" ng-model="$parent.city" placeholder="Your city">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="city" id="state-textarea" ng-model="$parent.state" placeholder="Your state">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="pets" id="pets-textarea" ng-model="$parent.pets" placeholder="The kind of pets you have">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="upload-group">
          Upload Avarta
          <input type="file" class="upload-group" id="image">
          <button type="btn btn-primary" ng-click="uploadImage()" ng-show="showSubmitButton">Submit</button>
        </label>
      </div>

    </div>

      <div style="float: middle; width: 100%;">
        <button class="button button-full button-positive" ng-click="editUserProfile()">Update to the database! </button>
      </div>
<!---
need to let user insert their profile picture
      <ImageButton id="@+id/myButton"
                   layout_width="wrap_content"
                   layout_height="wrap_content"
                   layout_marginTop="50dip"
                   layout_marginLeft="50dip"
                   padding="100dip"
                   src="@drawable/myButtonImage" />
---->


  </ion-content>
</ion-view>
