<ion-view view-title="My Posts">

  <ion-content>
    <!-- TODO: create button for creating new post -->
    <div>
      <button class="button button-full button-stable" ng-click="newPost()">Create New Post</button>
    </div>

    <div class="item item-driver" hidden>
    My Post
    <!--TODO: display cards -->
    <div class="cards-bg social-cards">
      <ion-card>
        <!-- first item -->
        <ion-item>
          <ion-avatar item-left>
            <img src=$imagePath>
          </ion-avatar>
          <h2>{{ username }}</h2>
          <p> {{ city }}</p>
        </ion-item>

        <!-- card content-->
        <ion-card-content>
          <!--<img class="full-image" src="my-image.png">-->
          <p>{{ blogMessages }}</p>
        </ion-card-content>

      </ion-card>

      <ion-row>
        <ion-col>
          <ion-note left text-left>
            Rate: {{user.rating}}/5
          </ion-note>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{ date }}
          </ion-note>
        </ion-col>
      </ion-row>
    </div>
    </div>

  </ion-content>
</ion-view>
