
<ion-view view-title="Search">
  <ion-content>





    <title>Please enter the kind of pets you have and your location to search for bnb</title>
    <h2 style="text-align: center">Account information Page</h2>
    <div class="bottom">
      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="pets" id="pets-textarea" ng-model="$parent.pets" placeholder="Kind of Pet">
        </label>
      </div>



      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="country" id="country-textarea" ng-model="$parent.country" placeholder="Your Country">
        </label>
      </div>


    <div style="float: left; width: 50%;">
      <label class="item item-input">
        <input type="text" name="city" id="city-textarea" ng-model="$parent.city" placeholder="Your City">
      </label>
    </div>
    </div>



    <button class="button button-full" ng-click="Search()">Lets find out!</button>

  </ion-content>


</ion-view>

<!--
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

--->
