<ion-view view-title="Search">

  <ion-content>
    <!-- Cher's added-->

    <img src="img/search_logo.PNG">
      <div class="list" style="float: left; width: 100%;">
        <ion-checkbox ng-repeat="item in listPets" ng-model="selectPets[item.text]" ng-change="showPets()">
          {{ item.text }}
        </ion-checkbox>
      </div>

      <div class="list" style="float: left; width: 100%;">
        <ion-checkbox ng-repeat="item in listUsers" ng-model="selectUsers[item.text]" ng-change="showUsers()">
          {{ item.text }}
        </ion-checkbox>
      </div>


      <div class="item">
        <h1>Location</h1>

        <input type="text" name="city" id="city-textarea"
               ng-model="$parent.city" placeholder="Your City">

        <input type="text" name="state" id="state-textarea"
               ng-model="$parent.state" placeholder="Your State">

      </div>


    <button class="dash-down" ng-click="Search()">Let's find out!</button>

  </ion-content>


</ion-view>
