<ion-view view-title="Login">
    <ion-content class="padding">




<img src="img/logo.PNG">
      <div class="input">
                <input type="text" placeholder="Email" ng-model="$parent.email">
                <input type="password" placeholder="Password" ng-model="$parent.password">
        <label ng-click="createNewpassword()">Forget password???</label>

           <button class="test" ng-click="attemptLogin()">Login</button>
       <button class="test" ng-click="attemptCreateUser()">Sign Up</button>
      </div>




    </ion-content>
</ion-view>
