<ion-view view-title="">
  <ion-content class="padding">
    <!-- TODO: make personal profile-->
    <div class="dash-content" align="center">
        <div class="dash-profile" ng-show=true id="havePost">
            <!--<canvas class="header" width="100" height="70" id="header-blur"></canvas>-->
            <div class="profile-picture big-profile-picture" align="center">
                <img class="avatar" ng-src= "{{user.photo}}" ng-show="!dafaultPhoto">
                <img class="avatar" src="img/default_photo.png" ng-show="dafaultPhoto">
            </div>
            <h2 class="profile-name dark"> {{user.firstName}} {{user.lastName}}</h2>
            <div class="profile-info">{{user.aboutUser}}</div>
        </div>

        <!-- no post-->
        <div class="dash-profile" ng-show=false id="noPost">
            <!--<canvas class="header" width="200" height="70" id="header-blur"></canvas>-->
            <div class= "dash-profile" align="center">
                <img class="avatar" src="img/default_photo.png" ng-show="dafaultPhoto">
            </div>
            <h3>No Personal Info! Please Update Your Account</h3>
        </div>

      <!-- Three Buttons-->
      <div style="float: middle; width: 100%">
        <button class="btn-dash" href="#" ng-click="toSearchState()">SEARCH</button>
        <button class="btn-dash" href="#" ng-click="toBlogState()">POST</button>
        <!--<button class="btn-dash" href="#" ng-click="toChatRoomState()">Chatroom</button>-->
        <button class="btn-dash" href="#" ng-click="toAccountState()">UPDATE PROFILE</button>
      </div>
        <div>
            <button class="btn-dash btn-logout" ng-click="attemptLogout()">LOG OUT</button>
        </div>

    </div>


  </ion-content>
</ion-view>
