<ion-view view-title="My Posts">
  <ion-content>
    <div>
      <button class="button button-full button-stable" ng-click="newPost()">Create New Post</button>
    </div>

    <div class="item item-driver" ng-show="!noPost">
    <!--TODO: display cards -->
      <div class="cards-bg social-cards">
       <ion-list class="wrapper">

         <ion-item ng-repeat="post in myPosts track by $index" id="myPost">
           <ion-card>
             <ion-item>
               <h2> {{post.startDate}} To {{post.endDate}} </h2>
               <p>@ {{ post.city }}, {{post.state}} </p>
             </ion-item>

             <ion-card-content>
               <p id="purpose">I'm looking for {{pets}}</p>
               <p id="pets">I want to be a {{purpose}}</p>
               <p id="messsage">Message: {{post.message}} </p>
             </ion-card-content>
             <ion-toggle ng-model=post.active ng-change="disable(post)">Diable</ion-toggle>
             <button class="button-small" ng-click="deletePost(post)">
             </button>
           </ion-card>
         </ion-item>

       </ion-list>
      </div>
    </div>

    <div ng-show="noPost">
      <h3>You have no post right now...</h3>
    </div>



      <!--<ion-card>-->
        <!--&lt;!&ndash; first item &ndash;&gt;-->
        <!--<ion-item align="center">-->
          <!--<ion-avatar item-left>-->
            <!--<img src="http://tva4.sinaimg.cn/crop.0.0.639.639.180/905accf5jw8f37pd22o8dj20hs0hrq3q.jpg">-->
          <!--</ion-avatar>-->
          <!--<h2>Puppy {{ user.firstName }} {{user.lastName}}</h2>-->
          <!--<p> @Madison {{ user.city }}</p>-->
        <!--</ion-item>-->

        <!--&lt;!&ndash; card content&ndash;&gt;-->
        <!--<ion-card-content>-->
          <!--&lt;!&ndash;<img class="full-image" src="my-image.png">&ndash;&gt;-->
          <!--<p>additional message here... {{ blogMessages }}</p>-->
        <!--</ion-card-content>-->

      <!--</ion-card>-->

      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<ion-note left text-left>-->
            <!--Rate: {{user.rating}}/5-->
          <!--</ion-note>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<button ion-button icon-left clear small>-->
            <!--<ion-icon name="text"></ion-icon>-->
            <!--<div>4 Comments</div>-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col center text-center>-->
          <!--<ion-note>-->
            <!--{{ date }}-->
          <!--</ion-note>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</div>-->
    <!--</div>-->


  </ion-content>
</ion-view>
