<ion-view view-title="Create New Post">
    <ion-content class="padding">
        <!-- post purpose: sitter/owner-->


      <div class="list" style="float: left; width: 100%;">
        <ion-checkbox ng-repeat="item in listPets" ng-model="selectPets[item.text]" ng-change="showPets()">
          {{ item.text }}
        </ion-checkbox>
      </div>

      <div class="list" style="float: left; width: 100%;">
        <ion-checkbox ng-repeat="item in listUsers" ng-model="selectUsers[item.text]" ng-change="showUsers()">
          {{ item.text }}
        </ion-checkbox>
      </div>

                 <li class="item item-toggle">
                   Active
                   <label class="toggle toggle-positive" id="active_toggle" name="active_toggle">
                     <input type="checkbox" id="active" name="active" checked="checked">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                 </li>

      <button class="button button-full" ng-click="getLocation()">Location</button>
        <div class="list">
            <!-- location information -->

            <label class="item item-input" style="float: left; width: 50%;">
                <input type="text" name="city" id="city-textarea"
                       ng-model="$city" placeholder="City">
            </label>


            <label class="item item-input" style="float: left; width: 50%;">
                <input type="text" name="state" id="state-textarea"
                       ng-model="$state" placeholder="State">
            </label>

            <!-- time information-->
            <ion-item>
                <label>Effective Until</label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="2017" max="2020-12-31" ng-model="endDate"></ion-datetime>
            </ion-item>

            <!-- additional message-->
            <label class="item item-input">
                <input type="text" name="message" id="message-textarea"
                       ng-model="$message" placeholder="Enter Additional Messages">
            </label>

        </div>
        <!-- image upload-->

        <button class="button button-full" ng-click="editPostInfo()">Submit</button>
        <button class="button button-full" ng-click="cancel()">Cancel</button>

    </ion-content>
</ion-view>

