<ion-view view-title="Messages with {{name}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(timestamp, message) in chats" type="item-text-wrap">
        <p>To: {{message.To}}</p>
        <p>From: {{message.From}}</p>
	<p>{{message.Msg}}</p>
	<!--<p>Sent at: {{timestamp}}</p>-->
        <i class="icon ion-chevron-right icon-accessory"></i>

	<ion-option-button class="button-assertive"  ng-click="viewChat(chat)">
		delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
