<ion-view view-title="Sign Up">
  <ion-content class="padding" style="text-align: center">
    <div class="list">
      <h4>Please sign up with your information</h4>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="email" id="email-textarea" ng-model="$parent.email" placeholder="Your email">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="password" id="password-textarea" ng-model="$parent.password" placeholder="Your password">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="firstName" id="firstName-textarea" ng-model="$parent.firstName" placeholder="Your first name">
        </label>
      </div>


      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="lastName" id="lastName-textarea" ng-model="$parent.lastName" placeholder="Your last name">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="phone" id="phone-textarea" ng-model="$parent.phone" placeholder="Your phone number">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="location" id="location-textarea" ng-model="$parent.location" placeholder="Your location">
        </label>
      </div>


      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="pets" id="pets-textarea" ng-model="$parent.pets" placeholder="The kind of pets you have">
        </label>
      </div>

      <div style="float: left; width: 50%;">
        <label class="item item-input">
          <input type="text" name="photo" id="photo-textarea" ng-model="$parent.photo" placeholder="Profile Picture">
        </label>
      </div>

    </div>

      <div style="float: middle; width: 100%;">
        <button class="button button-full button-positive" ng-click="signup()">Sign Up</button>
      </div>
<!---
need to let user insert their profile picture
      <ImageButton id="@+id/myButton"
                   layout_width="wrap_content"
                   layout_height="wrap_content"
                   layout_marginTop="50dip"
                   layout_marginLeft="50dip"
                   padding="100dip"
                   src="@drawable/myButtonImage" />
---->


  </ion-content>
</ion-view>
